@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

button {
	letter-spacing: normal;
	white-space: nowrap;
	text-transform: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	display: block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	word-break: break-word;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1.00);
	background-color: #c9340c;
}

img {
	display: block;
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-size: 45px;
	font-weight: 700;
	line-height: 50px;
}

h2 {
	font-size: 35px;
	font-weight: 700;
	line-height: 40px;
	padding-top: 25px;
}

p {
	text-transform: none;
	margin-top: 25px;
}



/* Header */

.header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 2vh 0vh 0vh 0vh;
	z-index: 9999;
}

.header__logo {
	display: inline-block;
	position: relative;
	width: auto;
	margin: 0px auto;
}

.header__logo>img {
	width: auto;
	height: 15vh;
}



/* Main */

.chests {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background: url("main-bg.jpg") no-repeat bottom center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
	padding: 18vh 6vw 4vh 6vw;
}

.chests:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url("main-img.png") no-repeat bottom center /contain;
}

.chests__content {
	display: block;
	position: relative;
	width: 100%;
	max-width: 1300px;
	height: 100%;
	padding: 0px;
	margin: auto;
}

.chests__content li {
	display: inline-block;
	position: relative;
	width: auto;
	max-width: 33.3%;
}

.chests__content li:before {
	content: "";
	display: block;
	position: absolute;
	top: 60%;
	bottom: 40%;
	left: 50%;
	right: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: rgba(255, 215, 70, 1.00);
	-webkit-box-shadow: 0vw 0vw 4vw 1vw rgba(255, 215, 70, 1.00);
	-moz-box-shadow: 0vw 0vw 4vw 1vw rgba(255, 215, 70, 1.00);
	box-shadow: 0vw 0vw 4vw 1vw rgba(255, 215, 70, 1.00);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.chest {
	display: block;
	position: relative;
	height: 23vh;
	margin: 0px auto;
	opacity: 0.00;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.chests__content li:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: no-repeat center center /contain;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.chests__content li.closed {
	cursor: pointer;
}

.chests__content li.closed>.chest {
	opacity: 1.00;
}

.chests__content li.closed:hover>.chest {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.chests__content li.closed:hover:before {
	top: 45%;
	bottom: 25%;
	left: 35%;
	right: 35%;
	-webkit-box-shadow: 0vw 0vw 8vw 2vw rgba(255, 215, 70, 1.00);
	-moz-box-shadow: 0vw 0vw 8vw 2vw rgba(255, 215, 70, 1.00);
	box-shadow: 0vw 0vw 8vw 2vw rgba(255, 215, 70, 1.00);
}

.chests__content li.empty:after {
	background-image: url("chest-empty.png");
}

.chests__content li.bonus:after {
	background-image: url("chest-bonus.png");
}

.chests__content li.superbonus:after {
	background-image: url("chest-superbonus.png");
}



/* Article */

.article {
	display: block;
	position: relative;
	max-width: 1200px;
	padding: 50px;
	margin: 0px auto;
}



/* Popup */

.popup {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 0px;
	line-height: 25px;
	text-align: center;
	word-break: break-word;
	white-space: nowrap;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1.00);
	background-color: rgba(0, 0, 0, 0.50);
	overflow: hidden;
	-webkit-animation: popup-bg-birth 0.75s ease-in-out;
	-moz-animation: popup-bg-birth 0.75s ease-in-out;
	-o-animation: popup-bg-birth 0.75s ease-in-out;
	animation: popup-bg-birth 0.75s ease-in-out;
	z-index: 99999;
}

.popup.active {
	display: block;
}

.popup-aligner {
	display: inline-block;
	position: relative;
	width: 0%;
	height: 100%;
	vertical-align: middle;
}

.popup__content,
.last-popup {
	display: inline-block;
	position: relative;
	width: 100%;
	max-width: 600px;
	height: auto;
	vertical-align: middle;
	overflow: visible;
	text-align: center;
	white-space: normal;
	color: rgba(25, 25, 25, 1.00);
	-webkit-animation: popup-birth 0.5s ease-in-out;
	-moz-animation: popup-birth 0.5s ease-in-out;
	-o-animation: popup-birth 0.5s ease-in-out;
	animation: popup-birth 0.5s ease-in-out;
	padding: 50px 80px;
	margin: auto;
	z-index: 1;
}


.popup__content:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url("popup-bg.png") no-repeat center center /contain;
	z-index: -1;
}

.last-popup:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url("popup-bg2.png") no-repeat center center /contain !important;
	z-index: -1;
}

.popup__image-bg {
	display: block;
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
	width: auto;
	max-width: none;
	height: 200%;
	max-height: 724px;
	-webkit-animation: popup-sparks-birth 1s ease-in-out;
	-moz-animation: popup-sparks-birth 1s ease-in-out;
	-o-animation: popup-sparks-birth 1s ease-in-out;
	animation: popup-sparks-birth 1s ease-in-out;
	margin: auto;
	z-index: -2;
}

.popup__image {
	display: block;
	position: absolute;
	top: -15%;
	left: -5%;
	right: -2%;
	width: 107%;
	max-width: none;
	height: auto;
	max-height: none;
}

.popup__title {
	display: block;
	position: relative;
	font-size: 30px;
	font-weight: 700;
	line-height: 50px;
	color: #5d2700;
	padding: 0px;
}

.popup__text {
	display: block;
	position: relative;
	font-size: 30px;
	line-height: 35px;
	padding: 15px 0px;
	margin: 0px;
}

.popup__text>.bonus {
	color: #960c12;
}

.popup__text>.up-to {
	color: #960c12;
}

.popup__button,
.submit_btn {
	display: inline-block;
	position: relative;
	width: auto;
	min-width: 300px;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	font-weight: 700;
	line-height: 60px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1.00);
	background: none;
	background: url("button.png") no-repeat center center /contain;
	padding: 0px 40px;
	margin: -9px auto;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.popup__button:hover,
.submit_btn:hover {
	opacity: 0.50;
}

.popup__text.big-bonus-text {
	font-size: 40px;
	line-height: 50px;
	color: #960c12;
	padding: 0px;
}



/* Footer */

.footer {
	background-color: rgba(25, 25, 25, 1.00);
	padding: 40px 20px;
}

.footer__partners {
	display: block;
	position: relative;
	border-bottom: 1px solid #1f212c;
}

.footer__partners>li {
	display: inline-block;
	position: relative;
	width: auto;
	height: 25px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	margin: 0px 10px 20px 10px;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}

.footer__partners>li:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.copyright__text {
	display: block;
	position: relative;
	width: 100%;
	max-width: 1920px;
	font-size: 13px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.50);
	text-transform: none;
	border-bottom: 1px solid #1f212c;
	padding: 20px 0px;
	margin: 0px auto;
}

.copyright__logo {
	display: inline-block;
	position: relative;
	max-height: 50px;
	margin: 20px 15px 0px 15px;
	padding: 0px;
}

@media screen and (max-aspect-ratio: 1/1) {
	.chest {
		height: auto;
	}
}

@media screen and (max-width: 700px) {

	h1 {
		font-size: 35px;
		line-height: 40px;
	}

	h2 {
		font-size: 25px;
		line-height: 30px;
	}
}

@media screen and (max-width: 600px) {
	h1 {
		font-size: 28px;
		line-height: 32px;
	}

	h2 {
		font-size: 20px;
		line-height: 25px;
	}

	.popup__content {
		padding: 4vh 0vh;
	}

	.popup__image {
		display: none;
	}

	.popup__title {
		font-size: 6vw;
		line-height: 1.2;
		padding: 0px 40px;
	}

	.popup__text {
		font-size: 5vw;
		line-height: 1.2;
		padding: 10px 40px;
	}

	.popup__button,
	.submit_btn {
		min-width: 240px;
		font-size: 4vw;
	}

	.footer__partners>li {
		height: 15px;
		margin: 0px 5px 10px 5px;
	}

	.copyright__logo {
		max-height: 30px;
		margin: 20px 10px 0px 10px;
	}
}

@-webkit-keyframes light-bulb {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes light-bulb {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes light-bulb {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes light-bulb {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes wheel-idle {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes wheel-idle {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes wheel-idle {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes wheel-idle {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes wheel-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(1102deg);
		transform: rotate(1102deg);
	}
}

@-moz-keyframes wheel-spin {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(1102deg);
		transform: rotate(1102deg);
	}
}

@-o-keyframes wheel-spin {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-o-transform: rotate(1102deg);
		transform: rotate(1102deg);
	}
}

@keyframes wheel-spin {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(1102deg);
		-moz-transform: rotate(1102deg);
		-o-transform: rotate(1102deg);
		transform: rotate(1102deg);
	}
}

@-webkit-keyframes wheel-spin2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(1057deg);
		transform: rotate(1057deg);
	}
}

@-moz-keyframes wheel-spin2 {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(1057deg);
		transform: rotate(1057deg);
	}
}

@-o-keyframes wheel-spin2 {
	0% {
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-o-transform: rotate(1057deg);
		transform: rotate(1057deg);
	}
}

@keyframes wheel-spin2 {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(1057deg);
		-moz-transform: rotate(1057deg);
		-o-transform: rotate(1057deg);
		transform: rotate(1057deg);
	}
}

@-webkit-keyframes button-glow {
	0% {
		-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}

	50% {
		-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
	}

	100% {
		-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}
}

@-moz-keyframes button-glow {
	0% {
		-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}

	50% {
		-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
	}

	100% {
		-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}
}

@-o-keyframes button-glow {
	0% {
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}

	50% {
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
	}

	100% {
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}
}

@keyframes button-glow {
	0% {
		-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}

	50% {
		-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
		-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 50px 25px rgba(250, 0, 50, 1.00);
	}

	100% {
		-webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		-moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.50), 0px 0px 25px 0px rgba(250, 0, 50, 1.00);
	}
}

@-webkit-keyframes popup-bg-birth {
	0% {
		background-color: rgba(0, 0, 0, 0.00);
	}

	100% {
		background-color: rgba(0, 0, 0, 0.50);
	}
}

@-moz-keyframes popup-bg-birth {
	0% {
		background-color: rgba(0, 0, 0, 0.00);
	}

	100% {
		background-color: rgba(0, 0, 0, 0.50);
	}
}

@-o-keyframes popup-bg-birth {
	0% {
		background-color: rgba(0, 0, 0, 0.00);
	}

	100% {
		background-color: rgba(0, 0, 0, 0.50);
	}
}

@keyframes popup-bg-birth {
	0% {
		background-color: rgba(0, 0, 0, 0.00);
	}

	100% {
		background-color: rgba(0, 0, 0, 0.50);
	}
}

@-webkit-keyframes popup-birth {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	65% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-moz-keyframes popup-birth {
	0% {
		-moz-transform: scale(0);
		transform: scale(0);
	}

	65% {
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

@-o-keyframes popup-birth {
	0% {
		-o-transform: scale(0);
		transform: scale(0);
	}

	65% {
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes popup-birth {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}

	65% {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}



@-webkit-keyframes popup-sparks-birth {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	30% {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}



@-moz-keyframes popup-sparks-birth {
	0% {
		-moz-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	30% {
		-moz-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}



@-o-keyframes popup-sparks-birth {
	0% {
		-o-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	30% {
		-o-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}

	100% {
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}



@keyframes popup-sparks-birth {
	0% {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	30% {
		-webkit-transform: scale(0.95);
		-moz-transform: scale(0.95);
		-o-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}



@-webkit-keyframes gg {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}

	35% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}

	50% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	85% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@-moz-keyframes gg {
	0% {
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}

	35% {
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}

	50% {
		-moz-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	85% {
		-moz-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	100% {
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@-o-keyframes gg {
	0% {
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}

	35% {
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}

	50% {
		-o-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	85% {
		-o-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	100% {
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@keyframes gg {
	0% {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}

	35% {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}

	50% {
		-webkit-transform: translateX(-5px);
		-moz-transform: translateX(-5px);
		-o-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	85% {
		-webkit-transform: translateX(-5px);
		-moz-transform: translateX(-5px);
		-o-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	100% {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}
}

@-webkit-keyframes gg2 {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-moz-keyframes gg2 {
	0% {
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-o-keyframes gg2 {
	0% {
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes gg2 {
	0% {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		transform: translateY(0px);
	}
}

#form-section label {
	display: block;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: left;
	width: 270px;
	margin: auto;
	margin-top: -5px;
}

#form-section input {
	display: block;
	width: 270px;
	margin: auto;
	padding: 6px 5px;
	box-sizing: border-box;
	font-size: 15px;
	
}

label[for=email] {
	display: block;
	margin-top: -20px !important;
}

#form-section input[type="submit"] {
	cursor: pointer;
}

#form-section input:focus {
	outline: none;
}

@media screen and (max-width: 600px) {
	.last-popup .popup__title {
		margin-top: 15px;
		font-size: 16px;
	}

	.last-popup .popup__text {
		font-size: 16px;
	}
}

@media screen and (max-width: 350px) {

	#form-section input,
	#form-section label {
		width: 220px;
	}

	#form-section input[type="submit"] {
		font-size: 14px;
	}
}